.card-body {
    padding: 20px;
    background-color: #f8f9fa; /* Màu nền */
    border-radius: 10px; /* Bo góc */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Bóng đổ */
  }
  
  h4.box-title {
    color: rgb(10, 10, 10);
    font-size: 18px;
    font-weight: 10;
  }
  
  