<div class="orders">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="box-title">{{ Title }} </h4>
                </div>
                <!-- <div class="card-body">
                    <a routerLink="">
                        <button class="btn btn-primary"  >
                            Nhập thêm sản phẩm
                            <i class="fa fa-plus-square"></i>
                        </button> 
                    </a>
                </div> -->
                <div class="card-body--">
                    <div class="table-stats order-table ov-h">
                        <table class="table ">
                            <thead>
                                <tr>
                                    <th class="serial">STT</th>
                                    <th class="avatar">ảnh</th>
                                    <th class="avatar">Tên</th>
                                    <th>Số lượng còn lại</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                
                                <tr *ngFor="let all of inventory | paginate: { itemsPerPage: 10, currentPage: p } ; let i=index"  class=" pb-0">
                                    <td class="serial">{{ i+1 }}</td>
                                    <td class="avatar">
                                        <div class="round-img">
                                            <img [src]="getProductImageUrl(all.product_image)" alt="{{ all.product_image}}" />
                                        </div>
                                    </td>
                                    <td class="serial">{{ all.product_name }}</td>
                                    <td>  <span class="brand">{{ all.stock_quantity }}</span> </td>
                                    
                                </tr>
                                
                                
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="12">
                                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div> <!-- /.table-stats -->
                </div>
            </div> <!-- /.card -->
        </div>  <!-- /.col-lg-8 -->

        
    </div>
</div>
