
    <!-- ...:::: Start Checkout Section:::... -->
    <div class="checkout-section" style="margin-top: 50px;">
        <div class="container">
            <div class="row">
                
            </div>
            <!-- Start User Details Checkout Form -->
            <div class="checkout_form" data-aos="fade-up"  data-aos-delay="400">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <form  >
                            
                            <h3>Đơn hàng của bạn</h3>
                            <div class="order_table table-responsive">
                                <table>
                                    <thead>
                                        <tr>
                                            <th >Ảnh</th>
                                            <th>Tên</th>
                                            <th>Số lượng</th>
                                            <th>Phương thức toán</th>
                                            <th>Ngày Đặt</th>
                                            <th>Địa Chỉ</th>
                                            <th>Trạng thái</th>
                                            <th>Chọn</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr  *ngFor="let order of customerOrder">
                                            <td>
                                                <img style="width: 50px;"[src]="getProductImageUrl(order.product_image)" alt="{{order.product_image}}" />
                                           </td>
                                            <td>{{ order.product_name }} </td>
                                            <td> {{ order.total_quantity }}</td>
                                            <td>{{ order.bankcode}}</td>
                                            <td>{{ order.order_date  | date:'dd/MM/yyyy' }}</td>
                                            <td>{{ order.shipAddress }} </td>
                                            <td>{{ order.order_status }}</td>
                                            <td>
                                                <input type="checkbox" (change)="handleCheckboxChange(order.product_id)">
                                            </td>
                                        </tr>
                                        
                                    </tbody>
                                    
                                </table>
                                
                            </div>
                            <div class="payment_method">
                                <div class="order_button pt-3">
                                    <a class="btn btn-md btn-black-default-hover" routerLink="/client/order" (click)="cancelSelectedOrders()" style="margin-right: 5px;" >Hủy Đơn Hàng Bán</a>
                                    <a class="btn btn-md btn-black-default-hover" href="#" >Quay lại trang chủ</a>
                                    
                                </div>
                                
                            </div>
                            
                        </form>
                        
                    </div>
                </div>
                <div *ngFor="let order of customerOrder" class="order-status-section">
                    <div class="order-status">
                        <div [ngClass]="{'status-confirmed': order.order_status === 'Đã xác nhận', 'status-shipping': order.order_status === 'vận chuyển', 'status-delivered': order.order_status === 'đã giao hàng'}">
                            <p>Trạng thái đơn hàng:</p>
                            <p *ngIf="order.order_status === 'Chờ xác nhận'">Chờ xác nhận</p>
                            <p *ngIf="order.order_status === 'Đã xác nhận'"> Đã Xác nhận</p>

                            <p *ngIf="order.order_status === 'vận chuyển'">Vận chuyển</p>
                            <p *ngIf="order.order_status === 'đã giao hàng'">Đã giao hàng</p>
                        </div>
                    </div>
                </div>
            </div> <!-- Start User Details Checkout Form -->
        </div>
    </div><!-- ...:::: End Checkout Section:::... -->

