<div class="orders">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h2 class="box-title">{{ Title }} </h2>
                </div>
                <!-- <div class="card-body">
                    <a routerLink="/admin/add-customer">
                        <button class="btn btn-primary"  >
                            Thêm
                            <i class="fa fa-plus-square"></i>
                        </button> 
                    </a>
                </div> -->
                <div class="card-body">
                    <div class="table-stats order-table ov-h">
                        <table class="table ">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <!-- <th>Sản phẩm</th>
                                    <th>Ảnh</th> -->
                                    <!-- <th>khách Hàng </th> -->
                                    <th>Ngày đặt</th>
                                    <th>Tiền</th>
                                    <th>Trạng thái </th>
                                    <!-- <th>Chức năng</th> -->
                                    <th>Chi tiết</th>

                                </tr>
                            </thead>
                            <tbody>
                                
                                <tr  class=" pb-0" *ngFor="let all of allorder| paginate: { itemsPerPage: 20, currentPage: p } ; let i=index">
                                    <td class="serial">{{ i+1 }}</td>
                                    

                                    <!-- <td> {{ all.customer_name }} </td> -->
                                    <td> <span class="fragrance_family">{{ all.order_date  | date:'dd/MM/yyyy' }}</span> </td>
                                    <td> <span class="fragrance_family">{{ all.total_amount | number:'1.0-0' }}vnd</span> </td>
                                    <td>
                                        <span Class="badge badge-complete">{{ all.order_status }}</span>
                                    </td>  
                                    <td>
                                        <span>
                                            <a href="/admin/order_details/{{ all.id }}/{{ all.order_date | date:'yyyy-MM-dd'  }}">
                                                <button type="button" class="badge badge-complete">Xem</button>
                                            </a>
                                        </span>
                                    </td> 
                                    <!-- <td>
                                        <span>
                                            <button type="button" class="btn btn-success" (click)="confirmOrder(all.id, i)" *ngIf="all.order_status !== 'Đã xác nhận'">Xác nhận</button>
                                            <button type="button" class="btn btn-danger" (click)="cancelConfirmation(all.id, i)" *ngIf="all.order_status === 'Đã xác nhận'">Hủy xác nhận</button>
                                        </span>

                                    </td> -->
                                      
                                          
                                                           
                                </tr>
                                
                                
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="12">
                                        <pagination-controls ></pagination-controls>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div> <!-- /.table-stats -->
                </div>
            </div> <!-- /.card -->
        </div>  <!-- /.col-lg-8 -->

        
    </div>
</div>
